<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
  <nav>
    <ul>
        <li><a href="/cp">Productos</a></li>
        <li><a href="/cu">Usuarios</a></li>
        <li><a href="/cc">Clientes</a></li>
    </ul>
  </nav>

  <div>
    <h1>Catalogo de Productos</h1>

    <table border="2px">
        <thead>
            <tr>
                <th>Codigo del Producto</th>
                <th>Nombre del Producto</th>
                <th>Precio del Producto</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach(producto => { %>
            <tr>
                <td><%= producto.id %></td>
                <td><%= producto.nombre %></td>
                <td><%= producto.precio %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</body>

</html>
