<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/cp">Productos</a></li>
            <li><a href="/cu">Usuarios</a></li>
            <li><a href="/cc">Clientes</a></li>
        </ul>
    </nav>
    <div>
    <h1>Catálogo de Clientes</h1>

    <table border="2px">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% clientes.forEach(cliente => { %>
            <tr>
                <td><%= cliente.id_cliente %></td>
                <td><%= cliente.nombre_cliente %></td>
                <td><%= cliente.ap1_cliente %></td>
                <td><%= cliente.ap2_cliente %></td>
                <td><%= cliente.email %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    </div>
</body>
    
</html>
